.bg-homepage {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDLrpNP-AJd02m4l6qx1k-odEcmc6vPNViwiZz-0jmN6bF0ZdcEXffSPgR0qM4MZNDCkM&usqp=CAU');
    background-size: cover;
    background-position: center;
  }
  